{% load static %}

								<!-- Tags START -->
								<div class="card card-body shadow p-4">
									<h4 class="mb-3">برچسب‌های محبوب</h4>
									<ul class="list-inline mb-0">
                                        {% for tags in course.tag.all %}
										<li class="list-inline-item"><a class="btn btn-outline-light btn-sm"
												href="{% url 'course:course_tag' tags.name %}">{{ tags.name }}</a></li>
                                        {% endfor %}
									</ul>
								</div>
								<!-- Tags END -->