{% load static %}
						<form class="position-relative" method="get" action="{% url 'website:search' %}">
							<button
								type="submit"
								class="position-absolute top-50 start-0 translate-middle-y border-0 bg-transparent px-3">
								<i class="fas fa-search fs-6"></i>
							</button>

							<input
								class="form-control bg-transparent pe-5 ps-5"
								style="width:220px;"
								type="search"
								name="s"
								placeholder="جست و جو"
								aria-label="Search">
						</form>
					<!-- Nav Search END -->