{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block content %}
  <!-- **************** MAIN CONTENT START **************** -->
  <main>
    <!-- =======================Main Content START -->
    <section class="pb-0 pt-4 pb-md-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Title and Info START -->
            <div class="row">
              <!-- Avatar and Share -->
              <div class="col-lg-3 align-items-center mt-4 mt-lg-5 order-2 order-lg-1">
                <div class="text-lg-center">
                  <!-- Author info -->
                  <div class="position-relative">
                    <!-- Avatar -->
                    <div class="avatar avatar-xxl">
                      <img class="avatar-img rounded-circle" src="{{ post.author.avatar.url }}" alt="{{ post.author.username }}" />
                    </div>
                    <a href="#" class="h5 stretched-link mt-2 mb-0 d-block">{{ post.author.get_full_name }}</a>
                  </div>
                  <!-- Info -->
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item d-lg-block my-lg-2">{{ post.jalali_date }}</li>
                    <li class="list-inline-item badge text-bg-orange">
                    <span id="like-btn" data-url="{% url 'blog:like_post' post.id %}" style="cursor:pointer;">
                        <i id="like-icon" class="far fa-heart text-white"></i>
                        <span id="like-count">{{ post.like }}</span>
                    </span>
                    <li class="list-inline-item badge text-bg-info">
                      <i class="far fa-eye me-1"></i>{{ post.views }}</li>
                  </ul>
                </div>
              </div>

              <!-- Content -->
              <div class="col-lg-9 order-1">
                <!-- Pre title -->
                <span>{{ post.jalali_date }}</span><span class="mx-2">|</span><div class="badge text-bg-{{ post.category.color }}">{{ post.category }}</div>
                <!-- Title -->
                <h1 class="mt-2 mb-0 display-5">{{ post.title }}</h1>
                <!-- Info -->
                <p class="mt-2">{{ post.info }}</p>
              </div>
            </div>
            <!-- Title and Info END -->

            <!-- Video START -->
            <div class="row mt-4">
              <div class="col-xl-10 mx-auto">
                <!-- Card item START -->
                <div class="card overflow-hidden h-200px h-sm-300px h-lg-400px h-xl-500px rounded-3 text-center" style="background-image:url({{ post.image.url }}); background-position: center left; background-size: cover;">
                  <!-- Card Image overlay -->
                  <div class="bg-overlay bg-dark opacity-4"></div>
                  <div class="card-img-overlay d-flex align-items-center p-2 p-sm-4">
                    <div class="w-100 my-auto">
                      <div class="row justify-content-center">
                        <!-- Video -->
                        <div class="col-12">
                          <a href="{{ post.video.url }}"
                            class="btn btn-lg text-danger btn-round btn-white-shadow position-relative"
                            data-glightbox="type: video"
                            data-gallery="video-tour">
                            <i class="fas fa-play"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Card item END -->
              </div>
            </div>
            <!-- Video END -->

            <!-- Quote and content START -->
            <div class="row mt-4">
              <!-- Content -->
              <div class="col-12 mt-4 mt-lg-0">
               <p class="mb-0">{{ post.content|safe }}</p>
              </div>
              
            <!-- Content START -->
            <div class="row">
              <div class="row mb-4">
                <br><br><br>
                {{ post.content2|safe }}
              </div>
            </div>
            <!-- Content END -->

            <!-- Tags and share START -->
            <div class="d-lg-flex justify-content-lg-between mb-4">
              <!-- Social media button -->
              <div class="align-items-center mb-3 mb-lg-0">
                <h6 class="mb-2 me-4 d-inline-block">اشتراک‌گذاری در:</h6>
                <ul class="list-inline mb-0 mb-2 mb-sm-0">
                  <li class="list-inline-item">
                    <a class="btn px-2 btn-sm bg-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn px-2 btn-sm bg-instagram-gradient" href="#"><i class="fab fa-fw fa-instagram"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn px-2 btn-sm bg-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn px-2 btn-sm bg-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>

              <!-- Popular tags -->
              <div class="align-items-center">
                <h6 class="mb-2 me-4 d-inline-block">برچسب‌های محبوب:</h6>
                <ul class="list-inline mb-0 social-media-btn">
                  {% for tags in post.tag.all %}
                  <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-sm mb-lg-0" href="{% url 'blog:blog_tag' tags.name %}">{{ tags }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- Tags and share END -->
							<div class="navigation-area">
                <div class="row">

                    {% if prev_post %}
                    <div class="col-12 col-lg-6 nav-left d-flex justify-content-start align-items-center">
                        <div class="thumb" style="border-radius:10px;overflow:hidden;">
                            <a href="{% url 'blog:blog_detail' prev_post.slug %}">
                                <img src="{{ prev_post.image.url }}"
                                    style="width:100px;height:70px;object-fit:cover;margin-left:5px;">
                            </a>
                        </div>

                        <div class="arrow">
                            <a href="{% url 'blog:blog_detail' prev_post.slug %}">
                                <span class="lnr text-white lnr-arrow-left"></span>
                            </a>
                        </div>

                        <div class="detials">
                            <p>پست بعدی</p>
                        </div>
                    </div>
                    {% endif %}


                    {% if next_post %}
                    <div class="col-12 col-lg-6 nav-right d-flex justify-content-end align-items-center ms-auto">
                        <div class="detials">
                            <p>پست قبلی</p>
                        </div>

                        <div class="arrow">
                            <a href="{% url 'blog:blog_detail' next_post.slug %}">
                                <span class="lnr text-white lnr-arrow-right"></span>
                            </a>
                        </div>

                        <div class="thumb" style="border-radius:10px;overflow:hidden;">
                            <a href="{% url 'blog:blog_detail' next_post.slug %}">
                                <img class="img-fluid"
                                    style="width:100px;height:70px;object-fit:cover;margin-right:5px;"
                                    src="{{ next_post.image.url }}">
                            </a>
                        </div>
                    </div>
                    {% endif %}

                </div>
							</div>
            <hr /> <!-- Divider -->

            <!-- Comment review and form START -->
            <div class="row mt-4">

              <!-- Comments -->
              <div class="col-md-7">
                <h3>{{ comments|length }} دیدگاه</h3>

                {% for comment in comments %}

                  <div class="my-4 d-flex">
                    <img class="avatar avatar-md rounded-circle me-3"
                        src="{{ comment.author.avatar.url }}" alt="{{ comment.author}}">

                    <div>
                      <div class="mb-2">
                        <h5 class="m-0">{{ comment.author }}</h5>
                        <span class="me-3 small">{{ comment.jalali_date }}</span>
                      </div>

                      <p>{{ comment.comment }}</p>

                      <a href="javascript:void(0)"
                        onclick="toggleReplyForm({{ comment.id }})">
                        پاسخ
                      </a>
                    </div>
                  </div>

                  <!-- Reply Form -->
                  <div id="reply-form-{{ comment.id }}" style="display:none;">
                    <form method="post">
                      {% csrf_token %}

                      <input type="hidden" name="form_type" value="reply">
                      <input type="hidden" name="parent_id" value="{{ comment.id }}">

                      <textarea name="comment" class="form-control" placeholder="پاسخ"></textarea>

                      <button class="btn btn-primary btn-sm mt-2">ارسال</button>
                    </form>
                  </div>

                  {% for reply in comment.blog_replies.all %}
                    <div class="my-3 d-flex ps-4">
                      <img class="avatar avatar-md rounded-circle me-3"
                          src="{{ reply.author.avatar.url }}" alt="{{ reply.author.username }}">

                      <div>
                        <h6>{{ reply.author.username }}</h6>
                        <small>{{ reply.jalali_date }}</small>
                        <p>{{ reply.comment }}</p>
                      </div>
                    </div>
                  {% endfor %}

                {% endfor %}
              </div>
            <!-- Comment review and form END -->
              {% if request.user.is_authenticated %}
              <div class="col-md-5">
                <h3 class="mt-3 mt-sm-0">نظر خود را بنویسید!</h3>

                <form class="row g-3 mt-2 mb-5"
                      method="post"
                      action="{% url 'blog:blog_detail' post.slug %}">

                  {% csrf_token %}

                  <input type="hidden" name="form_type" value="comment">
                  
                  <div class="col-12">
                    <label class="form-label">دیدگاه *</label>
                    <textarea name="comment" class="form-control"></textarea>
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">ارسال دیدگاه</button>
                  </div>

                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div> <!-- Row END -->
      </div>
    </section>
    <!--        =======================Main Content END        -->

    {% latest_posts %}

  </main>
  <!-- **************** MAIN CONTENT END **************** -->
  <script>
	function toggleReplyForm(id) {
		const el = document.getElementById("reply-form-" + id);

		if (el.style.display === "none") {
			el.style.display = "block";
		} else {
			el.style.display = "none";
		}
	}
	</script>
{% endblock %}
