{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
	
	<!-- =======================Page Banner START -->
	<section class="pt-0">
		<!-- Main banner background image -->
		<div class="container-fluid px-0">
			<div class="bg-blue h-100px h-md-200px rounded-0" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
			</div>
		</div>
		<div class="container mt-n4">
			<div class="row">
				<!-- Profile banner START -->
				<div class="col-12">
					{% include 'instructor/profile.html' %}
					<!-- Profile banner END -->
				</div>
			</div>
		</div>
	</section>
	<!-- =======================Page Banner END -->

	<!-- =======================Page content START -->
	<section class="pt-0">
		<div class="container">
			<div class="row">
				<!-- Left sidebar START -->
				{% include "instructor/right-sidebar.html" %}
				<!-- Left sidebar END -->

				<!-- Main content START -->
				<div class="col-xl-9">

					<!-- Counter boxes START -->
					<div class="row g-4">
						<!-- Counter item -->
						<div class="col-sm-6 col-lg-4">
							<div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
								<span class="display-6 text-warning mb-0"><i class="fas fa-tv fa-fw"></i></span>
								<div class="ms-4">
									<div class="d-flex">
										<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{ total_courses }}"	data-purecounter-delay="200">0</h5>
									</div>
									<span class="mb-0 h6 fw-light">کل دوره ها</span>
								</div>
							</div>
						</div>
						<!-- Counter item -->
						<div class="col-sm-6 col-lg-4">
							<div class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-10 rounded-3">
								<span class="display-6 text-purple mb-0"><i class="fas fa-user-graduate fa-fw"></i></span>
								<div class="ms-4">
									<div class="d-flex">
										<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{ total_student }}"	data-purecounter-delay="200">0</h5>
									</div>
									<span class="mb-0 h6 fw-light">کل دانشجویان</span>
								</div>
							</div>
						</div>
						<!-- Counter item -->
						<div class="col-sm-6 col-lg-4">
							<div class="d-flex justify-content-center align-items-center p-4 bg-info bg-opacity-10 rounded-3">
								<span class="display-6 text-info mb-0"><i class="fas fa-gem fa-fw"></i></span>
								<div class="ms-4">
									<div class="d-flex">
										<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{ students_count }}" data-purecounter-delay="300">0</h5>
									</div>
									<span class="mb-0 h6 fw-light">دانشجویان ثبت‌نام‌شده</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Counter boxes END -->

					<!-- Chart START -->
					<div class="row mt-5">
						<div class="col-12">
							<div class="card card-body bg-transparent border p-4 h-100">
								<div class="row g-4">
									<div class="col-sm-6 col-md-4">
										<span class="badge text-bg-dark">ماه جاری</span>
										<h4 class="text-primary my-2">{{ current_month_total }} تومان</h4>
										<p class="mb-0">
											<span class="{% if percent_change >= 0 %}text-success{% else %}text-danger{% endif %} me-1">
												{{ percent_change }}%
												<i class="bi bi-arrow-{% if percent_change >= 0 %}up{% else %}down{% endif %}"></i>
											</span>
											نسبت به ماه قبل
										</p>
									</div>

									<div class="col-sm-6 col-md-4">
										<span class="badge text-bg-dark">ماه قبل</span>
										<h4 class="my-2">{{ last_month_total }} تومان</h4>
									</div>
								</div>

								<!-- Apex chart -->
								<div id="ChartPayout"></div>

							</div>
						</div>
					</div>
					<!-- Chart END -->

					<!-- Course List table START -->
					<div class="row">
						<div class="col-12">
							<div class="card border bg-transparent rounded-3 mt-5">
								<!-- Card header START -->
								<div class="card-header bg-transparent border-bottom">
									<div class="d-sm-flex justify-content-sm-between align-items-center">
										<h3 class="mb-2 mb-sm-0">دوره ها</h3>
									</div>
								</div>
								<!-- Card header END -->

								<!-- Card body START -->
								<div class="card-body">
									<div class="table-responsive border-0 rounded-3">
										<!-- Table START -->
										<table class="table table-dark-gray align-middle p-4 mb-0">
											<!-- Table head -->
											<thead>
												<tr>
													<th scope="col" class="border-0 rounded-start">نام</th>
													<th scope="col" class="border-0">تعداد فروش</th>
													<th scope="col" class="border-0">مبلغ</th>
													<th scope="col" class="border-0">مدت زمان</th>
													<th scope="col" class="border-0 rounded-end">عملیات</th>
												</tr>
											</thead>
											<!-- Table body START -->
											<tbody>
												
												<!-- Table item -->
												{% for course in courses %}
												<tr>
													<!-- Course item -->
													<td>
														<div class="d-flex align-items-center">
															<!-- Image -->
															<div class="w-60px">
																<img src="{{ course.image.url }}" class="rounded" alt="">
															</div>
															<!-- Title -->
															<h6 class="mb-0 ms-2 table-responsive-title">	
																<a href="{% url 'course:course_detail' course.slug %}">{{ course.title }}</a>
															</h6>
														</div>
													</td>
													<!-- Selling item -->
													<td>{{ course.total_sales_count|default:0 }}</td>
													<!-- Amount item -->
													<td>{{ course.total_sales_amount|default:0 }} تومان </td>
													<!-- Period item -->
													<td>
														<span class="badge bg-primary bg-opacity-10 text-primary">{{ course.months_since_published|default:0 }} ماه</span>
													</td>
													<!-- Action item -->
													<td>
														<a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
														<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
													</td>
												</tr>
												{% endfor %}
											</tbody>
											<!-- Table body END -->
										</table>
										<!-- Table END -->
									</div>

									<!-- Pagination -->
									<div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
										<p class="mb-0 text-center text-sm-start">
											نمایش {{ courses.start_index|default:0 }} تا {{ courses.end_index|default:0 }}
											از {{ courses.paginator.count|default:0 }} نتیجه
										</p>

										<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
											<ul class="pagination pagination-primary-soft rounded mb-0">
												{% if courses.has_previous %}
												<li class="page-item mb-0"><a class="page-link" href="?page={{ courses.previous_page_number }}&sort={{ request.GET.sort }}" tabindex="-1"><i
													class="fas fa-angle-double-left">
												</i></a></li>
												{% endif %}	
												{% for i in courses.paginator.page_range %}
													{% if courses.number == i %}
														<li class="page-item mb-0 active"><a class="page-link" href="?page={{ i }}&sort={{ request.GET.sort }}">{{i}}</a></li>
													{% else %}
														<li class="page-item mb-0"><a class="page-link" href="?page={{ i }}&sort={{ request.GET.sort }}">{{i}}</a></li>
													{% endif %}
												{%endfor%}
												{% if courses.has_next %}
												<li class="page-item mb-0">
													<a class="page-link"
													href="?page={{ courses.next_page_number }}&sort={{ request.GET.sort }}">
													<i class="fas fa-angle-double-right"></i>
													</a>
												</li>
												{% endif %}
											</ul>
										</nav>
									</div>
								</div>
								<!-- Card body START -->
							</div>
						</div>
					</div>
					<!-- Course List table END -->
				</div>
				<!-- Main content END -->
			</div><!-- Row END -->
		</div>
	</section>
	<!-- =======================Page content END -->

</main>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const options = {
        series: [{
            name: 'فروش',
            data: {{ months_totals|safe }}
        }],
        chart: {
            type: 'area',
            height: 250,
            toolbar: { show: false },
            fontFamily: 'IRANSansWeb, sans-serif',
        },
        dataLabels: { enabled: false },
        stroke: { curve: 'smooth', width: 2 },
        xaxis: {
            categories: {{ months_labels|safe }},
        },
        colors: ['#066ac9'],
        tooltip: {
            y: {
                formatter: function (val) {
                    return val.toLocaleString() + ' تومان';
                }
            }
        }
    };

    const chart = new ApexCharts(document.querySelector("#ChartPayout"), options);
    chart.render();
});
</script>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}