{% extends "base.html" %}
{% load static %}

	{% block content %}
	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================Page content START -->
		<section class="pt-5 pb-0">
			<div class="container">
				<div class="row g-0 g-lg-5">

					<!-- Left sidebar START -->
					<div class="col-lg-4">
						<div class="row">
							<div class="col-md-6 col-lg-12">
								<!-- Instructor image START -->
								<div class="card shadow p-2 mb-4 text-center">
									<div class="rounded-3">
										<!-- Image -->
										<img src="{{ instructor.image.url }}" class="card-img" alt="{{ instructor.name }}">
									</div>

									<!-- Card body -->
									<div class="card-body px-3">
										<!-- Rating -->
										<ul class="list-inline">

											{% for i in full %}
												<li class="list-inline-item me-0 small">
													<i class="fas fa-star text-warning"></i>
												</li>
											{% endfor %}

											{% if half %}
												<li class="list-inline-item me-0 small">
													<i class="fas fa-star-half-alt text-warning"></i>
												</li>
											{% endif %}

											{% for i in empty %}
												<li class="list-inline-item me-0 small">
													<i class="far fa-star text-warning"></i>
												</li>
											{% endfor %}

											<li class="list-inline-item ms-2 h6 fw-light mb-0">
												{{ instructor.instructor_avg_score|floatformat:1 }}
											</li>

										</ul>
										<!-- Social media button -->
										<ul class="list-inline mb-0">
											<li class="list-inline-item"> <a class="btn px-2 btn-sm bg-facebook"
													href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
											<li class="list-inline-item"> <a
													class="btn px-2 btn-sm bg-instagram-gradient" href="#"><i
														class="fab fa-fw fa-instagram"></i></a> </li>
											<li class="list-inline-item"> <a class="btn px-2 btn-sm bg-twitter"
													href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
											<li class="list-inline-item"> <a class="btn px-2 btn-sm bg-linkedin"
													href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
										</ul>
									</div>
								</div>
								<!-- Instructor image END -->
							</div>

							<div class="col-md-6 col-lg-12">
								<div class="card card-body shadow p-4 mb-4">

									<!-- Education START -->
									<h4 class="mb-3">تحصیلات</h4>

									<!-- Education item -->
									{% for edu in instructor.educations.all %}
									<div class="d-flex align-items-center mb-4">
										<span class="icon-md mb-0 bg-light rounded-3">
											<i class="fas fa-graduation-cap"></i>
										</span>
										<div class="ms-3">
											<h6 class="mb-0">{{ edu.university }}</h6>
											<p class="mb-0 small">{{ edu.field_of_study }}</p>
										</div>
									</div>
									{% endfor %}

									<hr>

									<!-- Skills START -->
									<h4 class="mb-3">مهارت‌ها</h4>

									<!-- Progress item -->
									{% for skill in instructor.skills.all %}
									<div class="overflow-hidden mb-4">
										<h6 class="uppercase">{{ skill.name }}</h6>

										<div class="progress progress-sm bg-primary bg-opacity-10">

											<div class="progress-bar
												{% cycle 'bg-primary' 'bg-success' 'bg-warning' 'bg-danger' %}
												aos"
												role="progressbar"
												style="width: {{ skill.amount }}%;">

												<span class="progress-percent-simple h6 mb-0">
													{{ skill.amount }}%
												</span>
											</div>

										</div>
									</div>
									{% endfor %}

								</div>
							</div>
						</div> <!-- Row End -->
					</div>
					<!-- Left sidebar END -->

					<!-- Main content START -->
					<div class="col-lg-8">

						<!-- Title -->
						<h5 class="mb-0">سلام، من هستم</h5>
						<h1 class="mb-0">{{ instructor.name }}</h1>
						<p>{{ instructor.expertise }}</p>

						<!-- Content -->
						<p class="mt-4">{{ instructor.description }}</p>

						<!-- Personal info -->
						<ul class="list-group list-group-borderless">
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i
										class="fas fa-fw fa-map-marker-alt text-primary me-1 me-sm-3"></i>آدرس:</span>
								<span>{{ instructor.address }}</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i
										class="fas fa-fw fa-envelope text-primary me-1 me-sm-3"></i>ایمیل:</span>
								<span>{{ instructor.email }}</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i
										class="fas fa-fw fa-headphones text-primary me-1 me-sm-3"></i>شماره تلفن:</span>
								<span>{{ instructor.phone_number }}</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i
										class="fas fa-fw fa-globe text-primary me-1 me-sm-3"></i>وب‌سایت:</span>
								<span>{{ instructor.website }}</span>
							</li>
						</ul>

						<!-- Counter START -->
						<div class="row mt-4 g-3">

							<!-- Counter item -->
							<div class="col-sm-6 col-lg-4">
								<div class="d-flex align-items-center">
									<span class="icon-lg text-success mb-0 bg-success bg-opacity-10 rounded-3">
										<i class="fas fa-play"></i>
									</span>
									<div class="ms-3">
										<div class="d-flex">
											<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
												data-purecounter-end="{{ num_courses }}" data-purecounter-delay="200"></h5>
											<span class="mb-0 h5">+</span>
										</div>
										<p class="mb-0 h6 fw-light">کل دوره‌ها</p>
									</div>
								</div>
							</div>

							<!-- Counter item -->
							<div class="col-sm-6 col-lg-4">
								<div class="d-flex align-items-center">
									<span class="icon-lg text-purple bg-purple bg-opacity-10 rounded-3 mb-0">
										<i class="fas fa-users"></i>
									</span>
									<div class="ms-3">
										<div class="d-flex">
											<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
												data-purecounter-end="{{ total_students }}" data-purecounter-delay="200"></h5>
											<span class="mb-0 h5">+</span>
										</div>
										<p class="mb-0 h6 fw-light">کل دانشجویان</p>
									</div>
								</div>
							</div>

							<!-- Counter item -->
							<div class="col-sm-6 col-lg-4">
								<div class="d-flex align-items-center">
									<span class="icon-lg text-orange bg-orange bg-opacity-10 rounded-3 mb-0">
										<i class="fas fa-trophy"></i>
									</span>
									<div class="ms-3">
										<div class="d-flex">
											<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
												data-purecounter-end="{{ instructor.experience_of_the_year }}" data-purecounter-delay="200"></h5>
											<span class="mb-0 h5">+</span>
										</div>
										<p class="mb-0 h6 fw-light">سال تجربه</p>
									</div>
								</div>
							</div>

						</div>
						<!-- Counter END -->

						<!-- Course START -->
						<div class="row g-4 mt-4">

							<h2>لیست دوره‌ها</h2>
							
							{% for course in courses %}
							<!-- Card item START -->
							<div class="col-sm-6">
								<div class="card shadow h-100">

									<img src="{{ course.image.url }}" class="card-img-top"
										alt="{{ course.title }}">

									<div class="card-body pb-0">

										<div class="d-flex justify-content-between mb-2">
											<a href="#" class="badge bg-purple bg-opacity-10 text-purple">{{ course.skill_level }}</a>
											<a href="#" class="h6 fw-light mb-0"><i class="far fa-heart"></i></a>
										</div>

										<h5 class="card-title fw-normal">
											<a href="{% url 'course:course_detail' course.slug %}">{{ course.title }}</a>
										</h5>

										<p class="mb-2 text-truncate-2">{{ course.short_description }}</p>

										<ul class="list-inline mb-0">
											{% for i in "12345"|make_list %}
												{% if forloop.counter <= course.full %}
													<li class="list-inline-item me-0 small">
														<i class="fas fa-star text-warning"></i>
													</li>
												{% endif %}
											{% endfor %}

											{% if course.half %}
												<li class="list-inline-item me-0 small">
													<i class="fas fa-star-half-alt text-warning"></i>
												</li>
											{% endif %}

											{% for i in "12345"|make_list %}
												{% if forloop.counter <= course.empty %}
													<li class="list-inline-item me-0 small">
														<i class="far fa-star text-warning"></i>
													</li>
												{% endif %}
											{% endfor %}
											<li class="list-inline-item ms-2 h6 fw-light mb-0">{{ course.avg_score|default:0 }}</li>
										</ul>

									</div>

									<div class="card-footer pt-0 pb-3">
										<hr>
										<div class="d-flex justify-content-between">
											<span class="h6 fw-light mb-0"><i
													class="far fa-clock text-danger me-2"></i>{{ course.total_duration|default:"0" }} ساعت</span>
											<span class="h6 fw-light mb-0"><i
													class="fas fa-table text-orange me-2"></i>{{ course.lessons_count }}جلسه</span>
										</div>
									</div>

								</div>
							</div>
							{% endfor %}
							<!-- Card item END -->

						</div>
						<!-- Course END -->
					</div>
					<!-- Main content END -->

				</div><!-- Row END -->
			</div>
		</section>
		<!-- =======================Page content END -->

		<!-- =======================Related instructor START -->
		<section>
			<div class="container">
				<!-- Title -->
				<div class="row mb-4">
					<h2 class="mb-0">مدرسان مرتبط</h2>
				</div>

				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover">
					<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-dots="false"
						data-items="4" data-items-lg="3" data-items-md="2" data-items-xs="1">

						<!-- Card item START -->
						{% for instructor in instructors %}
						<div class="card bg-transparent">
							<div class="position-relative">
								<!-- Image -->
								<img src="{{ instructor.image.url }}" class="card-img"
									alt="{{ instructor.name }}">
								<!-- Overlay -->
								<div class="card-img-overlay d-flex flex-column p-3">
									<div class="w-100 mt-auto text-end">
										<!-- Card category -->
										<a href="#" class="badge text-bg-info rounded-1"><i
												class="fas fa-user-graduate me-2"></i>25</a>
										<a href="#" class="badge text-bg-orange rounded-1"><i
												class="fas fa-clipboard-list me-2"></i>{{ instructor.courses.count }}</a>
									</div>
								</div>
							</div>
							<!-- Card body -->
							<div class="card-body text-center">
								<!-- Title -->
								<h5 class="card-title"><a href="{% url 'instructor:instructor_single' instructor.slug %}">{{ instructor.name }}</a></h5>
								<p class="mb-2">{{ instructor.expertise }}</p>

								<!-- Rating -->
								<ul class="list-inline hstack justify-content-center">

									<li class="list-inline-item ms-2 h6 mb-0 fw-normal">
										{{ instructor.instructor_avg_score|floatformat:1 }}
									</li>

									{% for i in "12345"|make_list %}
										{% if forloop.counter <= instructor.full %}
											<li class="list-inline-item me-0 small">
												<i class="fas fa-star text-warning"></i>
											</li>
										{% endif %}
									{% endfor %}

									{% if instructor.half %}
										<li class="list-inline-item me-0 small">
											<i class="fas fa-star-half-alt text-warning"></i>
										</li>
									{% endif %}

									{% for i in "12345"|make_list %}
										{% if forloop.counter <= instructor.empty %}
											<li class="list-inline-item me-0 small">
												<i class="far fa-star text-warning"></i>
											</li>
										{% endif %}
									{% endfor %}

								</ul>
							</div>
						</div>
						<!-- Card item END -->
						{% endfor %}

					</div>
				</div>
				<!-- Slider END -->

			</div>
		</section>
		<!-- =======================Related instructor END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->
	{% endblock  %}