{% load static %}		
                        
                        <div class="card bg-transparent border rounded-3">
							<!-- Card header START -->
							<div class="card-header bg-transparent border-bottom">
								<h3 class="mb-0">لیست دوره‌های من</h3>
							</div>
							<!-- Card header END -->

							<!-- Card body START -->
							<div class="card-body">

								<!-- Search and select START -->
								<div class="row g-3 align-items-center justify-content-between mb-4">
									<div class="col-md-3">
										<form method="get">
											<select name="sort"
												class="form-select js-choice border-0 z-index-9 bg-transparent"
												aria-label=".form-select-sm"
												onchange="this.form.submit()"
												data-placeholder-val="مرتب‌سازی بر اساس">

												<option value="">مرتب‌سازی بر اساس</option>

												<option value="free" {% if request.GET.sort == 'free' %}selected{% endif %}>
													رایگان
												</option>

												<option value="newest" {% if request.GET.sort == 'newest' %}selected{% endif %}>
													جدیدترین
												</option>

												<option value="popular" {% if request.GET.sort == 'popular' %}selected{% endif %}>
													محبوب‌ترین
												</option>

												<option value="views" {% if request.GET.sort == 'views' %}selected{% endif %}>
													پربازدیدترین
												</option>

											</select>
										</form>									
									</div>
								</div>
								<!-- Search and select END -->

								<!-- Course list table START -->
								<div class="table-responsive border-0">
									<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
										<thead>
											<tr>
												<th scope="col" class="border-0 rounded-start">عنوان دوره</th>
												<th scope="col" class="border-0">تعداد کل جلسات</th>
												<th scope="col" class="border-0">جلسات تکمیل‌شده</th>
												<th scope="col" class="border-0 rounded-end">عملیات</th>
											</tr>
										</thead>

										<tbody>
											{% for course in courses %}
											<tr>
												<td>
													<div class="d-flex align-items-center">
														<div class="w-100px">
															<img src="{{ course.image.url }}" class="rounded"
																alt="{{ course.title }}">
														</div>
														<div class="mb-0 ms-2">
															<h6><a href="{% url 'course:course_detail' course.slug %}">{{ course.title}}</a></h6>
															<div class="overflow-hidden">
																<h6 class="mb-0 text-end">{{ course.progress_percent }}%</h6>
																<div
																	class="progress progress-sm bg-primary bg-opacity-10">
																	<div class="progress-bar bg-primary aos"
																		role="progressbar" style="width: {{ course.progress_percent }}%"></div>
																</div>
															</div>
														</div>
													</div>
												</td>
												<td>{{ course.lessons_count }}</td>
												<td>{{ course.course_completed_lessons|default:0 }}</td>
												{% if course.lessons_count != course.course_completed_lessons %}
												<td>
													<a href="{% url 'course:course_detail' course.slug %}" class="btn btn-sm btn-primary-soft me-1 mb-1 mb-md-0">
														<i class="bi bi-play-circle me-1"></i>ادامه
													</a>
												</td>
												{% else %}
												<td>
													<button class="btn btn-sm btn-success me-1 mb-1 mb-x;-0 disabled">
														<i class="bi bi-check me-1"></i>تکمیل شده
													</button>
													<a href="{% url 'course:course_detail' course.slug %}" class="btn btn-sm btn-light me-1">
														<i class="bi bi-arrow-repeat me-1"></i>شروع دوباره
													</a>
												</td>
												{% endif %}
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<!-- Course list table END -->

								<!-- Pagination START -->
								<div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
									<p class="mb-0 text-center text-sm-start">
										نمایش {{ courses.start_index|default:0 }} تا {{ courses.end_index|default:0 }}
										از {{ courses.paginator.count|default:0 }} نتیجه
									</p>

									<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
										<ul class="pagination pagination-primary-soft rounded mb-0">
											{% if courses.has_previous %}
											<li class="page-item mb-0"><a class="page-link" href="?page={{ courses.previous_page_number }}&sort={{ request.GET.sort }}" tabindex="-1"><i
												class="fas fa-angle-double-left">
											</i></a></li>
											{% endif %}	
											{% for i in courses.paginator.page_range %}
												{% if courses.number == i %}
													<li class="page-item mb-0 active"><a class="page-link" href="?page={{ i }}&sort={{ request.GET.sort }}">{{i}}</a></li>
												{% else %}
													<li class="page-item mb-0"><a class="page-link" href="?page={{ i }}&sort={{ request.GET.sort }}">{{i}}</a></li>
												{% endif %}
											{%endfor%}
											{% if courses.has_next %}
											<li class="page-item mb-0">
												<a class="page-link"
												href="?page={{ courses.next_page_number }}&sort={{ request.GET.sort }}">
												<i class="fas fa-angle-double-right"></i>
												</a>
											</li>
											{% endif %}
										</ul>
									</nav>
								</div>
								<!-- Pagination END -->

							</div>
						</div>