{% extends "base.html" %}
{% load static %}

	{% block content %}
	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		{% include 'dashboard/profile.html' %}

		<!-- =======================Page content START -->
		<section class="pt-0">
			<div class="container">
				<div class="row">

					{% include 'dashboard/left_sidebar.html' %}

					<!-- Main content START -->
					<div class="col-xl-9">

						<!-- Counter boxes START -->
						<div class="row mb-4">
							<!-- Counter item -->
							<div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
								<div
									class="d-flex justify-content-center align-items-center p-4 bg-orange bg-opacity-15 rounded-3">
									<span class="display-6 lh-1 text-orange mb-0"><i class="fas fa-tv fa-fw"></i></span>
									<div class="ms-4">
										<div class="d-flex">
											<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
												data-purecounter-end="{{ courses_count|default:0 }}" data-purecounter-delay="200">0</h5>
										</div>
										<p class="mb-0 h6 fw-light">کل دوره‌ها</p>
									</div>
								</div>
							</div>

							<!-- Counter item -->
							<div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
								<div
									class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-15 rounded-3">
									<span class="display-6 lh-1 text-purple mb-0"><i
											class="fas fa-clipboard-check fa-fw"></i></span>
									<div class="ms-4">
										<div class="d-flex">
											<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
												data-purecounter-end="{{ completed_courses|default:0 }}" data-purecounter-delay="200">0</h5>
										</div>
										<p class="mb-0 h6 fw-light">دوره های تکمیل‌شده</p>
									</div>
								</div>
							</div>

							<!-- Counter item -->
							<div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
								<div
									class="d-flex justify-content-center align-items-center p-4 bg-success bg-opacity-10 rounded-3">
									<span class="display-6 lh-1 text-success mb-0"><i
											class="fas fa-medal fa-fw"></i></span>
									<div class="ms-4">
										<div class="d-flex">
											<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
												data-purecounter-end="{{ certificates_count|default:0 }}" data-purecounter-delay="300">0</h5>
										</div>
										<p class="mb-0 h6 fw-light">گواهینامه‌های دریافت‌شده</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Counter boxes END -->
						{% include 'dashboard/search.html' %}
						{% include 'dashboard/course_list_student.html' %}

					</div>
				</div>
			</div>
		</section>
		<!-- =======================Page content END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->
	{% endblock  %}