{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
	
	{% include 'dashboard/profile.html' %}

	<!-- =======================Page content START -->
	<section class="pt-0">
		<div class="container">
			<div class="row">

				{% include 'dashboard/left_sidebar.html' %}

				<div class="col-xl-9">
					{% include 'dashboard/course_list.html' %}
				</div>

			</div>
		</div>
	</section>
	<!-- =======================Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock  %}